<!DOCTYPE html>
<html lang="en"

      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Students management</title>
</head>

<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
            <img class="img-thumbnail img-fluid" src="https://www.enset-media.ac.ma/sites/default/files/enset_mohammedia_0.png">

        </div>
        <div class="list-group list-group-flush my-3">
            <a th:href="@{/}" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                    class="fas fa-home me-2"></i>Home</a>
            <a th:href="@{/user/students}" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                    class="fas fa-user-graduate me-2"></i>Students</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                <i class="fas  fa-chalkboard-teacher me-2"></i>Teachers</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                <i class="fas  fa-building me-2"></i>Departments</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-paperclip me-2"></i>Reports</a>

            <a th:href="@{/logout}" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                    class="fas fa-power-off me-2"></i>Logout</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                <h2 class="fs-2 m-0">Students Management</h2>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false"
                           sec:authentication="name">
                            <i class="fas fa-user me-2"></i>

                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item"  th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid px-4">
            <div class="row g-3 my-2">
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2" th:text="${totalNumberOfStudents}">000</h3>
                            <p class="fs-5">Students</p>
                        </div>
                        <i class="fas fa-users fs-1 primary-text  p-3"></i>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2" th:text="${numberOfMales}">000</h3>
                            <p class="fs-5">Males</p>
                        </div>
                        <i class="fas fa-male fs-1 primary-text   p-3"></i>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2" th:text="${numberOfFemales}">0000</h3>
                            <p class="fs-5">Females</p>
                        </div>
                        <i class="fas fa-female fs-1 primary-text   p-3"></i>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2" th:text="${'%'+((inRuleNumber*100)/ totalNumberOfStudents)}">%000</h3> <h6></h6>
                            <p class="fs-5"><span th:text="${inRuleNumber}"></span>In Rule</p>

                        </div>
                        <i class="fas fa-user-tag fs-1 primary-text   p-3"></i>
                    </div>
                </div>
            </div>

            <div class="card my-4" >
                <div class="card-header">
                    Search by first or last name
                </div>
                <div class="card-body ">
                    <form th:action="@{/user/students}" action="#" >
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Tipe your key word" name="searchKeyWord" th:value="${searchKeyWord}"  aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row my-3">
                <a th:href="@{/admin/showAddStudent}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary btn-sm text-uppercase my-2">add new student</a>

                </div>

                <div class="card mb-5" >
                    <div class="card-header">
                        <h3 class="fs-4 mb-4 h1">Students List</h3>
                        <!-- >> pagination -->
                        <div class="row d-flex flex-row justify-content-center">
                            <nav aria-label="Page navigation example ">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link"  th:href="@{/user/students(page=0, searchKeyWord=${searchKeyWord})}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/user/students(page=${currentPage >0?currentPage - 1: currentPage}, searchKeyWord=${searchKeyWord})}" aria-label="Previous">
                                            <span aria-hidden="true">&lt;</span>
                                        </a>
                                    </li>
                                    <li  th:each="page, status: ${pages10}" th:class="${page == currentPage ? 'page-item active' : 'page-item'}"> <!-- pages -->
                                        <a th:text="${page}"
                                           th:href="@{/user/students(page= ${page}, searchKeyWord=${searchKeyWord})}"
                                           class="page-link"
                                        >
                                        </a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/user/students(page=${currentPage < totalPages -1 ?currentPage + 1: currentPage}, searchKeyWord=${searchKeyWord})}" aria-label="Previous">
                                            <span aria-hidden="true">&gt;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/user/students(page=${totalPages - 1}, searchKeyWord=${searchKeyWord})}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- << pagination-->
                    </div>
                    <div class="card-body">
                        <div class="col">
                            <table class="table bg-white rounded shadow-sm  table-hover">
                                <thead>
                                <tr>
                                    <th scope="col" width="50">#</th>
                                    <th scope="col">FName</th>
                                    <th scope="col">LName</th>
                                    <th scope="col">Email@</th>
                                    <th scope="col">Birth</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">InRule?</th>
                                    <th sec:authorize="hasAuthority('ADMIN')" scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="student : ${studentsList}">
                                    <th scope="row" th:text="${student.getId()}"></th>
                                    <td th:text="${student.getFirstName()}"></td>
                                    <td th:text="${student.getLastName()}"></td>
                                    <td th:text="${student.getEmail()}"></td>
                                    <td th:text="${student.getBirth()}"></td>
                                    <td th:text="${student.getGender()}"></td>
                                    <td th:text="${student.isInRule()? 'Yes' : 'No'}"></td>
                                    <td sec:authorize="hasAuthority('ADMIN')">
                                        <a th:href="@{/admin/showEditStudent/{id}(id=${student.getId()},page= ${currentPage}, searchKeyWord=${searchKeyWord})}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a>
                                        <button  class="btn btn-sm btn-danger deleteStudentBtn" th:attr="data-deleteLink = ${'/admin/deleteStudent/'+student.getId()+'?page='+currentPage+'&searchKeyWord='+(searchKeyWord == null ? '' : searchKeyWord)}" ><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->
<!--</div>-->

<script th:src="@{/js/queries.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");

    toggleButton.onclick = function () {
        el.classList.toggle("toggled");
    };
</script>
</body>

</html>