<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplate"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>Error 403</title>
    <meta name="description" content="error 403">
    <meta name="keywords" content="error 403, html5, css3, codepen">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/error403.css">
</head>
<body>
<main layout:fragment="mainFragment">
    <span class="num1">
        <i  class="fa-solid fa-lock-keyhole"></i>
         4O3
    </span>

    <h1>Access Denied!</h1>
    <p>Sorry, you do not have permission to view the resource</p>
</main>
</body>
</html>