<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mainTemplate"
>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container" layout:fragment="mainFrag">
        <main>
           <div class="container">
               <div class="card mt-5 mb-5">
                   <div class="card-body text-center">
                       <h5 class="card-title">Welcome to ENSET Students management system prototype </h5>
                       <h6 class="card-subtitle mb-2 text-muted">Basic, simple and helpful</h6>
                       <p class="card-text">Do you need a simple to use, free and helpful management system ?<br> Sorry this is not free, but you are going to like it.</p>
                       <a th:href="@{/login}" class="card-link">Login To test it</a>
                       <a th:href="@{/login}" class="card-link btn btn-sm btn-dark text-light">Just Login</a>
                   </div>
               </div>

               <div class="card mt-5 mb-5">
                   <div class="card-body text-center">
                       <h5 class="card-title">About us! </h5>
                       <h6 class="card-subtitle mb-2 text-muted">Happy coders</h6>
                       <p class="card-text">
                       <p><span id="W_Name2">ENSET</span> is a Professional <span id="W_Type1">Education</span> Platform. Here we will provide you only interesting content, which you will like very much. We're dedicated to providing you the best of <span id="W_Type2">Education</span>, with a focus on dependability and <span id="W_Spec">System Management</span>. We're working to turn our passion for <span id="W_Type3">Education</span> into a booming <a href="https://www.blogearns.com" rel="do-follow" style="color:inherit; text-decoration: none;">online website</a>. We hope you enjoy our <span id="W_Type4">Education</span> as much as we enjoy offering them to you.</p>
                       <p>I will keep posting more important posts on my Website for all of you. Please give your support and love.</p>
                       <p style="font-weight: bold; text-align: center;">Thanks For Visiting Our Site<br><br>
                       </p>
                       <a href="https://github.com/essadeq-elaamiri" class="card-link">Github account ?</a>
                   </div>
               </div>
           </div>
        </main>
    </div>
</body>
</html>